<%- include('partials/header') %>
<div class="h-20 mt-0 bg-yellow-400 text-center">
    <p class="pt-4 text-2xl font-bold font-serif">Blog Website</p>
</div>
<div class="flex mt-36 space-x-10 justify-center">
<a class="text-center pt-14 rounded-full text-xl font-sans font-bold hover:bg-white hover:text-black bg-green-500 h-36 w-36" href="/register" role="button" >
    Register
</a>
<a class="text-center pt-14 rounded-full text-xl font-sans font-bold hover:bg-white hover:text-black bg-green-500 h-36 w-36" href="/login" role="button">
    Login
</a>
</div>